# file that tells what the initial configuration should be
#configuration_magnetic skyrmion
configuration_magnetic skyrmion
RSky_magnetic 10.0
XSky_magnetic 25.0  
YSky_magnetic 0.0
chirality_magnetic -1
coeffx_magnetic 0.0
coeffy_magnetic 0.0
# vector of the SS and 2 vectors for the polarization
qvec_magnetic 0.0 0.0  0.0
Rq_magnetic 0.0 0.0 1.0
Iq_magnetic 1.0 0.0 0.0
